COMPOSE_PROJECT_NAME=n8n_homerun

N8N_IMAGE=n8nio/n8n:latest
N8N_HOST_PORT=15678
N8N_LOCAL_DOMAIN=n8n-homerun.local

POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=change_me_local_only

N8N_ENCRYPTION_KEY=change_me_generate_with_openssl_rand_hex_32
GENERIC_TIMEZONE=Europe/Kyiv
TZ=Europe/Kyiv
